@media screen and (max-width: 600px) {
    #card-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:darkblue;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    background: grey;
    color : white;
  }

  #card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-gap: 20px;
    justify-content: center;
    
  }
  .card {
    background-color:grey;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .card h2 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .card p {
    font-size: 14px;
  line-height: 18px;
  max-height: 54px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .card img {
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
    margin-bottom: 10px;
    align-items: center;
  }
  
.footer {
    padding: 20px;
    text-align: center;
    background-color:grey;
  }
  
  .footer p {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  