table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: black;
    color: #fff;
  }
  
  thead th {
    padding: 10px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    padding: 10px;
    text-align: center;
  }
  
  .red {
    color: red;
  }
  
  .purple {
    color: purple;
  }
  