@media only screen and (min-width: 64em) {
    header, nav, main, section, article, footer { max-width: 1800px;}
    /*header*/
    nav button { display: none; }
    .logo-header { flex: 2 1 100px;}
    #primaryNav-1 {
        display:flex;
        flex-direction: row; 
        flex: 8 1 100px;
    }
    nav ul{
        font-size: 1.3rem;
        padding-left: 4rem;
        margin-left: 50px;
    }
    .social { 
        flex: 1 1 120px;
        margin-right: 50px;
    }
   .banner { font-size: 1.3rem;}
    nav ul li a {
        display: block;
        color: #ffffff;
        margin-left: 2rem;
        text-align: center;
        text-decoration: none;
        transition: 0.5s;
    }
    nav ul li a:hover{
        background: linear-gradient(90deg, transparent, #427198, transparent) bottom /
        var(--d, 0) 3px no-repeat;
        --d: 75%;
        font-weight: bold;
    }
    .active {
	    font-weight: bold;
	    background: linear-gradient(90deg, transparent, #ffffff, transparent) bottom /
	    var(--d) 3px no-repeat;
	    --d: 75%;
    }
    .date {padding: 0.4rem;}
    /*main*/
    .grid-home {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1.2fr 1fr;
        grid-template-areas:
        'event hero hero article'
        'weather hero hero article'
        'do news-release news-release article';
    }
    .do { grid-area: do;}
    .hero {
        grid-area: hero;
        max-height: 900px;
    }
    .button-box { grid-row: 4/5;}
    .news-release { grid-area: news-release;}
    .event { grid-area: event;}
    .weather { grid-area: weather;}
    .article {
        display: grid;
        grid-area: article;
        grid-template-areas: 
        'spotlight-1 spotlight-1 spotlight-1 spotlight-1 spotlight-1 spotlight-1'
        'spotlight-2 spotlight-2 spotlight-2 spotlight-2 spotlight-2 spotlight-2'
        'spotlight-3 spotlight-3 spotlight-3 spotlight-3 spotlight-3 spotlight-3';
    }
    .spotlight-1 { grid-area: spotlight-1;}
    .spotlight-2 { grid-area: spotlight-2;}
    .spotlight-3 {
        display: grid;
        grid-area: spotlight-3;
    }
    .home-title {
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 2rem;
    }
    .join-1 {
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        margin-bottom: 4rem;
        font-size: 1.6rem;   
    }  
    .event, .weather { margin-bottom: 0.5rem;}
    .event div { 
        height: 180px;
        padding: 7% 0.5rem;
    }
    main h2 { font-size: 1.6rem;}   
    main h3 {
        font-size: 1.2rem;
        padding-left: 0.2rem; 
        padding-right: 0.2rem;
        line-height: 1.3rem;
    }
    main p { font-size: 1.1rem;}
    .mail {
        font-size: 0.9rem;
        line-height: 1.4;
    }
    /*footer*/
    p.lf { font-size: 1rem;}
    .address h2 { 
        font-size: 1.4rem;
        text-align: center;
    }
    .address {
        margin-left: 0.6rem;  
        justify-content: center;
    }
    .logo-footer { flex: 0 1 450px;}
    .locaction {
        flex: 0 1 450px;
        font-size: 1.6rem;
    }  
      /*discover*/
    .discover h1 { font-size: 2rem;}
    .background { max-width: 70vw;}
    .background1 { max-width: 50vw;}
    /*join and contact*/
    .joinP form {
        margin: 2rem 15rem;
    } 
    .tab table {display:block;}
    .joinP form fieldset {
        min-width: 400px; 
    }
    .join-grid {
        display: grid;
        column-gap: 4rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        align-items: center;
        justify-content: center;
    }
    .f1 {
       grid-column: 1/2;
       grid-row:  1/2;
    }
    .f2 {
        grid-column: 1/2;
       grid-row:  2/3;
    }
    .f3 {
        grid-column: 1/2;
       grid-row:  3/3;
    }
    .tab {
        grid-column: 3/4;
       grid-row:  1/4;
    }
    .joinP h1 {font-size: 2rem;}
    .joinP legend {font-size: 1.3rem;}
    /*directory*/
    .directory h1 {font-size: 2rem;}
}
@media only screen and (min-width:64em) and (max-width: 1100px) {
    nav ul{
        padding-left: 1rem;
        margin-left: 30px;
    }  
    .event div {  height: 200px;}
}   