/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, nav, main, footer { max-width:560px;}
body {
    font-family: 'Almarai', arial, sans-serif;
    line-height: 1.5;
    background-color: #C3D898;
}
header, main, footer { margin: 0 auto;}
/*header*/
header {
    background-color: #1C3144;
    color: #ffffff;
	align-items: center;
	justify-content: space-between;
    padding: 0.3rem;
}
.banner {
    text-align: center;
    border-radius: 10px;
    border:3px dashed #da5f56;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
} 
.banner button {
    color: #CA3F36;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #CA3F36;
	font-weight: 700;
    margin-left: 1rem;
}
.logo-header {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    flex: 3 1 50px;
}
.logo-header a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
#primaryNav { flex: 1 1 50px;}
.title {
    display: flex;
    flex-direction: column;
    margin-left: 0.2rem;
}
.title h2 {
    font-size: 1.1rem;
    line-height: 0.2em;
}
.m {
    font-weight: 400;
    font-size: 0.8rem;
}
.social {
    display: flex;
    flex:1 1 40px;
}
.nairobi-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
}
nav button {
    margin: 1rem 1vw; 
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #ffffff;  
}
button span:nth-child(2) {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.logo, .title { 
    margin: 1rem auto;
    transition: transform 0.5s;
}
.logo {
	max-width: 70px;
	border-radius: 15px;
  }
.logo:hover {
	content: url('../images/logo-b.webp');
	max-width: 80px;
}
.title {
    line-height: 0.8;
    font-size: 0.6rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    color:#ffffff;
}
.title:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px #8f1108, 0 0 25px #da5f56, 0 0 5px #740f08;
}
.linkedin {
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 0.2rem;
}
.social img {
    margin-left: 0.5rem;
    max-width: 20px;
}
.social { justify-content: flex-end;}
.date {
	text-align: center;
    margin: 0.4rem;
    border: 5px outset #da5f56;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding: 0.2rem;
    line-height: 0;
   text-shadow: 1px 1px 2px #8f1108, 0 0 25px #da5f56, 0 0 5px #740f08;
}
nav ul {display: none;}
nav ul.open {display: block;}
#hamburgerBtn span:nth-child(1) { 
    display: block;
    border:1px solid #ffffff;
    padding: 0.2rem;
}
#hamburgerBtn span:nth-child(1):hover {font-weight: bold;}
#hamburgerBtn span:nth-child(2) {display: none;}
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
#hamburgerBtn.open span:nth-child(2):hover {font-weight: bold;}
nav {
	list-style-type: none;
	line-height: 1em;
	font-size:0.7rem;
}
nav ul {
	list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
	display: block;
	color: #ffffff;
	padding: 0.4rem 0.1vw;
	text-decoration: none;
}
.active, .active1 {
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #8f1108, 0 0 25px #da5f56, 0 0 5px #740f08;
}
nav ul li a:hover { font-weight: bold;}
ul#primaryNav.try.open {
    margin: 0 20px 0 0;
    padding: 0 0 0 5px;
}
/*main*/
.grid-home {
	display: grid;
	grid-template-columns: 1fr;	
	text-align: center;
    margin: 1rem;   
}
.event, .weather, .news-release, .article, .do, .spotlight-1, .spotlight-2, .spotlight-3{
	display: grid;
	grid-template-columns: 1fr;
}
.do {display: none;}
.article { padding: 0.5rem;}
.spotlight-3 {display: none;}
.hero{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;	
    grid-template-rows: 1fr 3fr 1fr 0.5fr;
	text-align: center;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}
.home-title {
    grid-column: 1/4;
    grid-row: 1/2;
}
.button-box{
    grid-column: 2/3;
    grid-row: 3/4;
}
.join, .join-1, main article, .weather img { 
    background-color: #427198;
    border: 3px outset #E8D152;
}
.join, .join-1 {
    color: #ffffff;  
    text-decoration: none;
}
.join{
   font-size: 0.9rem;
   font-weight: 700;
   border-radius: 10px;
   margin: 0;
   padding: 10px;
}
.join:hover, .join-1:hover { 
    background-color: #CA3F36; 
 }
main picture.hero-img img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.logo-header h2 {
    text-shadow: 1px 1px 2px #8f1108, 0 0 25px #da5f56, 0 0 5px #740f08;
}
.event, .weather, .news-release, .article, .do, .spotlight-1, .spotlight-2, .spotlight-3, .hero{
    border-radius: 10px;	
    border: 5px outset #E8D152;
    margin: 0.5rem;
}
.event div {
    display: flex;
    border: 2px dashed rgb(238, 74, 102);
    border-radius: 10px;
    padding: 5% 0.5rem;
    height: 150px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.event a, .central a {
    text-decoration: none;
    font-weight: bold;
}
.event a:hover, .central a:hover { color: #CA3F36;}
main article {
	line-height: 1.2;
    color: #ffffff;
    font-weight: 400;
}
main article h3{ padding: 1rem;}
main article a {
    padding-bottom: 0.5rem;
    color: #ffffff;
}
main h1, main h2, .weather figcaption, .tab a, .event a, .central a { color: #427198;}
main h1 {
    margin-top: 2rem;
    font-size: 1.3rem;
}
main h2 {
    padding-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.4rem;
}
.article h2 { color: #ffffff;}
.article img {
    max-width: 80%;
    height: auto;
}
.article a:hover {font-weight: bold;}
main h3 {
    font-size: 1rem; 
    line-height: 1rem;    
}
main p {
    font-size: 0.9rem;
	padding-left: 1em;
    padding-right: 1em;
	text-align: center;
    padding-bottom: 1rem;
	margin: auto;
}
.join-1 {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 15px 15px;
 }
#hid-img {display: none;}
.weather img {
    border-radius: 50%;
    padding: 1rem;
    justify-self: center;
}
.weather figcaption {
    font-weight: bold;
}
.weather p { padding-bottom: 0;}
.weather { 
    padding-bottom: 1rem;
}
.weather p:nth-child(1) {
    border: 2px solid #E8D152;
    border-radius: 15px;
    margin: 1rem 5rem;
    padding: 0.5rem;
}
.hero { max-height: 350px;}
.article img {
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 1em;
}
.article p a { color: #ffffff;}
.article p a:hover, .tab a:hover {color: #E8D152;}
/*footer*/
footer {
    display: grid;
	grid-template-columns: 1fr;	
	text-align: center;
    background-color: #333;
    color: #ffffff;
	line-height:1.2rem;
    padding: 0.5rem;
	font-size: 0.8rem;
}
footer div { margin-bottom: 1rem;}
footer div p a {
    color: #ffffff;
	font-weight: bold;
}
.address { font-style: italic;}
.address h2 {
    text-shadow: 1px 1px 2px #8f1108, 0 0 25px #da5f56, 0 0 5px #740f08;
}
.location a:hover{
    color: #427198;
	font-weight: bold;
}
hr.foot {
	border: 1px solid #ffffff;
    margin: 0 2rem;
  }
p.medium {display: none;}  
/*banner animation*/
.banner {
    animation-duration: 3s;
    animation-name: slidein;
} 
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* home title animation */
.home-title {
    animation-duration: 2s;
    animation-name: slide2;
}
@keyframes slide2 {
    from {
        margin-left: -50%;
        width: 100%;
    }
    to {
        margin-left: -50%;
        width: 200%;
    }
  }
/*discover*/
.discover { text-align: center;}
figure img { 
    max-width: 90%;
    border-radius: 10px;
    border: 5px outset #E8D152;
}
.background, .background1 {
    border: 7px outset #E8D152;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 0 1em black, 0 0 2em #696969;
}
.background {
    max-width: 85vw;
    margin: 2rem auto;
    text-align: center;
}
.background1 {
    max-width: 70vw;
    margin: 1rem auto;
}
/*thank you*/
.thy h2, .thy h3, .thy p {
    text-align: center;
    margin: 2rem auto;
}
/*join and contact*/
.joinP h1 {text-align: center;}
.joinP  {
    padding: 10px;   
 }
.joinP form fieldset {
    margin: 0.5rem auto;
    border: 2px outset #E8D152;
    border-radius: 10px;
    padding: 0.5rem 5%;
    width: 100%;
    min-width: 200px;  
}
.join-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}
.joinP form label.member, .joinP form label.info, .joinP form label.info input, .joinP form textarea {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin-bottom: 1rem;   
}
.joinP form label.info input, .joinP form textarea {
    border-radius: 4px;
    border: #427198 solid 1px;
    padding: .5rem;
}
.joinP form textarea {min-height: 100px;}
.joinP form label.info input:required, .joinP form textarea:required {
    border-left: #CA3F36 solid 5px;
}
.joinP form label.info input:required:valid, .joinP form textarea:required:valid {
    border-left: #427198 solid 5px;
}
.joinP form legend {
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
}
.subBtn {
    background-color: #ffffff;
    color: #CA3F36;
    border: 3px outset #E8D152;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 10px;
    margin: 1rem auto;
    width: 100%;
    padding: 10px;
 }
.subBtn:hover { 
    background-color: #CA3F36;
    color: #ffffff;
}
.tab table {display: none;}
.tab thead, .tab tbody, .tab table {max-width: fit-content;}
.tab table {
    margin: 10px auto;
    text-align: center;
    border: 3px outset #E8D152;
    border-radius: 10px;
    border-collapse: collapse;  
}
.tab th:nth-child(1) {
    background-color: #CA3F36;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem;
}
.tab thead tr:nth-child(2) th:nth-child(1) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tab th, .tab td {
    padding: 7px 15px;
    border: 1px solid hsla(0,0%,33%,.3);
}
.tab th, .red {
    background-color: #da5f56;
    font-size: larger;
}
.tab tbody tr:nth-child(1) {font-weight: bold;}
.tab tbody tr:nth-child(even) {background-color: #F1F8F1;}
tbody tr:nth-child(-n+6) td:nth-child(-n+3), tbody tr:nth-child(-n+8) td:nth-child(4), tbody tr:nth-child(n) td:nth-child(5)  {
    color: #CA3F36;
    font-weight: bolder;
}
.tab tbody tr td:nth-child(1) {
    color: black;
    font-weight: bold;
}
.tab tbody tr:nth-child(1){ border-top: 3px outset #E8D152;}
.white {
    background-color: #ffffff;
    font-weight: bold;
}
/*directory*/
.directory { 
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}
.buttons ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.buttons ul  {
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: 1px solid rgb(105, 116, 118);
}
.buttons ul li {
    border: 2px outset rgb(4, 33, 71);
    background-color: #ffffff;
    color: rgb(4, 33, 71);
    font-weight: bold;
    border-radius: 5px;
    font-size: large;
    padding: 1rem;
    margin: 1rem 1rem 1.5rem 0;
}
.buttons ul li:hover,
.buttons ul li.active {
    color: white;
    background-color:  rgb(4, 33, 71);
    font-size: large; 
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem 0.5rem 1.5rem 0.5rem;
    text-shadow: none;
}
.gridD h3 {
    color: #427198;
    font-size: 1rem;
}
.gridD section div {
    padding-top: 1rem;
    border-top: 3px outset #E8D152;
    margin-top: 1rem;
    font-weight: bold;
}
.directory img {
    margin: 1rem auto 2rem auto;
    max-width: 90%;
    box-shadow: 10px 10px 5px rgb(72, 76, 77);
    border-radius: 10px;
    height: auto;
}
.gridD a {
    text-decoration: none;
    font-weight: bold;
    color: #427198;
}
.gridD a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #CA3F36;
}
.gridD section {
    border: 3px solid #E8D152;
    border-radius: 15px;
    width: 280px;
    margin: 1rem auto;
    padding: 0.5rem 4rem;
    line-height: 1.2;
}
.listD {
	display: flex;
	flex-direction: column;
}
.listD section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.listD section > * {
	margin: 0 0.2rem;
}
.listD section{
	margin: 0.2rem 0;
	padding: 0.4rem;
}
.listD section:nth-child(odd) h3, .listD section:nth-child(odd) a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.listD section p {
    padding: 0.3rem;
}
.listD section:nth-child(even) a:hover {
    color: #E8D152;
}
.listD section:nth-child(odd) a:hover {
    color:#CA3F36;
}
.listD section:nth-child(even) { 
    background-color: #427198;
    color: #ffffff;
}
.listD section:nth-child(even) a { 
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
@media only screen and (max-width: 25em) {
    .banner {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    } 
    .banner button {
        color: #CA3F36;
        font-weight: 600;
        margin-top: 0.5rem;
    } 
}
@media only screen and (min-width: 26em) {
    nav { font-size: 0.9rem;}
    ul#primaryNav.try.open {
        margin: 0 10px 0 0;
        padding: 0 0 0 5px;
    }
    .article h2 {font-size: 1.3rem;}
    .tab table {display: block;}
    .subBtn {
        margin-top: 2rem;
        font-size: larger;
    }
    .gridD section { width: 400px;}
    .gridD h3 { font-size: 1.2rem;}
}