/* CSS code */

/* Normalize CSS */
@import url("styles/normalize.css");

/* Small view styles */
@import url("styles/small.css");

/* Medium view styles */
@import url("styles/medium.css");

/* Large view styles */
@import url("styles/large.css");

/* Global styles */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #C3D898;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh;
  line-height: 1.2; 
}

/* Header styles */
header {
  position: relative;
  background-color: #1C3144;
  padding: 20px;
  color: white;
  height: 60px; 
}

#banner {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

#headerImg {
  max-width: 100%;
  max-height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  
}

#headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


#social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
}

#social a {
  display: inline-block;
  margin-left: 10px;
}

#social img {
  width: 24px; 
  height: 24px; 
}

nav {
  background-color: #70151E;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-top: -40px;
  width:100%;
  margin-left: -10px;
  margin-bottom: 25px; 
  color:white;
}

#navBurger {
  background-color: #70151E;
  padding: 10px;
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;

}

#navMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#navMenu li:last-child {
  margin-right: 0;
}
#navMenu li {
  margin-right: 10px;
  margin-left: 10px;
}

#navMenu li a {
  color: white;
  text-decoration: none;
}

#dateDisplay {
  text-align: center;
}

/* Main styles */
main {
  padding: 10px;
 
}

#hero {
  text-align: center;
  margin-top: 20px;
  
}

#heroImage {
  max-width: 100%;
  margin:0; 
  margin-top: 20px;
}

#callToAction {
  padding: 10px 20px;
  background-color: #485696;
  color: #fff;
  border: none;
  cursor: pointer;
}
section {
  margin-bottom: 10px;
 
}

/* Weather section */
#weather {
  margin-top: 30px;
  padding: 20px;
  margin-bottom: -20px;
  border-radius: 8px;
  width:300px;
  background: #D0F5BE;
  height: 250px;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#weather h2 {
  color:purple;
  font-size: 15px;
  margin-bottom: 10px;
}

#weather figure {
  display: flex;
  align-items: center;
}

#weatherSubDiv {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

#weatherImage {
  max-width: 100%;
  max-height: 100%;
}

#weather figcaption {
  display: flex;
  flex-direction: column;
}

#weather figcaption h4 {
  color: purple;
  font-size: 10px;
  margin-bottom: 10px;
}

#weather figcaption h4 span {
  font-weight: bold;
}

#weather figcaption h4#windSpeedP {
  margin-top: 10px;
}
#welcomeButton {
  font-size: 20px;
  padding: 10px 15px;
  background:yellow;
  color: purple;
  margin-top: -100px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 10%;
  margin-bottom: 10px;
  margin-right: 5px;
}

.grid-item img {
  max-width: 100%;
  margin-bottom: 10px;
  color:white;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-column,
.right-column,
.center-column {
  flex-basis: 30%;
  max-width: 30%;
}

.left-column img,
.right-column img,
.center-column img {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

p {
  flex-basis: 100%;
  max-width: 100%;
}


/* Footer styles */
footer {
  background-color: #3144;
    padding: 10px;
    border-top: 1px solid #ccc;
    text-align:center;
}

#footerImg {
  max-width: 100%;
}

#contactInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contactInfo div {
  margin-left: 10px;
}

#contactInfo p, #contactInfo a {
  margin-bottom: 5px;
}

#copyright {
  margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  #navBurger {
    display: block;
    margin: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }

  #navMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }

  #navMenu li {
    margin: 10px 0;
  }

  #navMenu li a {
    color: white;
    text-decoration: none;
  }
}
