/* CSS for the header */
header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: grey;
  justify-content: center;
  
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  
}

header h1 {
  font-size: 24px;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main ul {
  text-align: left;
}

main p {
  margin: 20px 0;
}
/* CSS for the main heading */
h2 {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}

/* CSS for the lesson list */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li h3 {
  font-size: 16px;
  margin: 10px 0;
}

/* CSS for the footer */
footer {
  padding: 10px;
  background-color: grey;
  text-align: center;
  font-size: 12px;
  color: white;
}
